@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Basic Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  color: #777;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 30px; }

.heading-primary {
  backface-visibility: hidden;
  color: #fff;
  margin-bottom: 60px;
  text-transform: uppercase; }
  .heading-primary--main {
    animation: fadeInLeft 1s ease-out;
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px; }
  .heading-primary--sub {
    animation: fadeInRight 1s ease-out;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px; }

.btn {
  font-size: 150%; }
  .btn:link, .btn:visited {
    border-radius: 100px;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s; }
  .btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); }
    .btn:hover::after {
      opacity: 0;
      transform: scaleX(1.4) scaleY(1.6); }
  .btn:active {
    box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    border-radius: 100px;
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s;
    width: 100%;
    z-index: -1; }
  .btn .btn--fadeup {
    animation: fadeInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }

.header {
  background-image: linear-gradient(to right bottom, rgba(210, 77, 87, 0.7), #d24d57), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  position: relative; }
  .header__logo-box {
    left: 40px;
    position: absolute;
    top: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 40%; }
