// colors
$color-primary: rgba(240, 52, 52, 0.8);
$color-primary-light: rgb(210, 77, 87);
$color-primary-dark: rgba(210, 77, 87, 0.7);;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-dark-gray: #777;
$color-white: #fff;
$color-black: #000;

// grid
$grid-width: 114rem; 
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font sizes
$default-font-size: 1.6rem;