.section-about {
  background-color: $color-grey-light-1;
  margin-top: -20vh;
  padding: 25rem 0;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom, 
      $color-primary-dark, 
      $color-primary-light), 
    url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);

  & > * { // direct child selector, select all children of element
    transform: skewY(7deg);
  }
}

.section-places {
  background-color: $color-grey-light-1;
  margin-top: -10rem;
  padding: 25rem 0 50rem 0;
}